<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>PastryShop</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>shit happens</h1>-->
<!--<hr>-->
<!--<h4>Подробная инф</h4>-->
<!--<b>Название товара: </b><span th:text="${product.title}"></span><br>-->
<!--<b>описание товара: </b><span th:text="${product.description}"></span><br>-->
<!--<b>цена товара: </b><span th:text="${product.price}"></span><br>-->
<!--<hr>-->
<!--<form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">-->
<!--    <input type="submit" value="Удалить товар"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->