<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PastryShop</title>
    <link rel="stylesheet" type="text/css" href="products.css">
    <style>
        body {
            font-family: 'Helvetica Neue', sans-serif;
            background-image: url('back.jpg');
            background-size: cover;
            color: #333;
        }</style>
</head>
<body>
<header>
    <h1>PastryShop</h1>
</header>
<form th:action="@{/}" method="get">
    <input type="text" name="title" class="search"/>
    <button type="submit">Поиск</button>
</form>
<div class="discount">
<!--    При заказе от 3-х видов товаров действует скидка <span class="highlight">30%</span>-->
    <a th:if="${param.title}" href="/" class="home-link">На главную</a>
</div>
<div class="product-container">
    <div class="product-frame" th:each="product : ${products}">
        <a th:href="@{/product/{id}(id=${product.id})}" class="product-link">
            <h3 class="product-title" th:text="'«' + ${product.title} + '»'"></h3>
        </a>
        <p class="product-description" th:text="${product.description}"></p>
        <p class="product-price" th:text="'Цена: ' + ${product.price} + '₽'"></p>
        <form th:action="@{/product/addToCart/{id}(id=${product.id})}" method="post">
            <input type="number" name="quantity" value="1" min="0"
                   oninput="this.value = Math.max(this.value, 0)" class="quantity">
            <button type="submit" class="add">Добавить в корзину</button>
        </form>
    </div>
</div>
<hr>
<footer>
    <a href="/cart"><img src="cart1s.png"></a>
<!--    <button onclick="location.href='/cart'">Корзина</button>-->
</footer>
</body>
</html>